<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!-- 
	NOTE: no explicit transaction manager bean is necessary
	because the QueueReceiverSessionPool will
	start transactions by itself.
-->

<beans>

<!-- For non-xa -->
<bean id="datasource" 
	class="com.atomikos.jdbc.nonxa.AtomikosNonXADataSourceBean" init-method="init">

	<property name="uniqueResourceName"><value>datasource</value></property>
	<property name="user"><value>sa</value></property>
	<property name="url"><value>jdbc:HypersonicSQL:SpringNonXADB</value></property>
	<property name="driverClassName"><value>org.hsql.jdbcDriver</value></property>
	<property name="poolSize"><value>1</value></property>
	

</bean>
<!-- NOTE: for XA datasources: don't forget to call init and close ! -->

<bean id="xaFactory" class="org.activemq.ActiveMQXAConnectionFactory">
	<property name="brokerURL"><value>tcp://localhost:61616</value></property>
</bean>

<bean id="queue" class="org.activemq.message.ActiveMQQueue">
	<property name="physicalName"><value>BANK_QUEUE</value></property>
</bean>

<bean id="bank" class="jdbc.Bank">
	<property name="dataSource"><ref bean="datasource"/></property>
</bean>

<bean id="messageDrivenBank" class="jms.MessageDrivenBank">
	<property name="bank"><ref bean="bank"/></property>
</bean>

<!-- Configure the JMS connector -->
<!-- NOTE: normally we would  specify init-method="init" 
     but this seems to block with ActiveMQ (cf. our case 24883) 
-->
<bean id="atomikosConnectionFactoryBean"
	class="com.atomikos.jms.AtomikosConnectionFactoryBean">
	
	<property name="uniqueResourceName"><value>QUEUE_BROKER</value></property>
	<property name="xaConnectionFactory"><ref bean="xaFactory" /></property>	
</bean>

<!-- Configure the session pool for JMS. This will also manage the transactions
for incoming messages. -->
<bean id="messageDrivenContainer" 
	class="com.atomikos.jms.extra.MessageDrivenContainer"
	init-method="start" destroy-method="stop">
    <property name="atomikosConnectionFactoryBean">
        <ref bean="atomikosConnectionFactoryBean"/>
    </property>
    <property name="transactionTimeout"><value>120</value></property>
    <property name="destination"><ref bean="queue"/></property>
    <property name="messageListener"><ref bean="messageDrivenBank"/></property>
		
</bean>
</beans>
