<!--

    Copyright (C) 2000-2016 Atomikos <info@atomikos.com>

    LICENSE CONDITIONS

    See http://www.atomikos.com/Main/WhichLicenseApplies for details.

-->

<configuration>

	 <logger name="com.atomikos" level="WARN"/>
	 
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>